<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627405174199-olkf683930skhcm4dsjulca1uh8cmqj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627405174199-olkf683930skhcm4dsjulca1uh8cmqj4</string>
	<key>API_KEY</key>
	<string>AIzaSyC-cHwKqDP02zJPQjw0Aazp_phMpzvJMsM</string>
	<key>GCM_SENDER_ID</key>
	<string>627405174199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cjn.Task-it</string>
	<key>PROJECT_ID</key>
	<string>taskit-1916f</string>
	<key>STORAGE_BUCKET</key>
	<string>taskit-1916f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:627405174199:ios:13a2a2398489c2fa886432</string>
	<key>DATABASE_URL</key>
	<string>https://taskit-1916f.firebaseio.com</string>
</dict>
</plist>
